extends template

block content
	if (!user)
		h3 You are not logged in!
		a(href='/signin')
			p Click here to sign in
		a(href='/register')
			p Click here to sign up
	if(user)
		-var journalID = journalId;
		.container-fluid
			header
				.container
					h1 Professional Journal
					if (user)
						h3 Welcome #{user.full_name}
					ul.nav.nav-tabs.nav-fill
						li.nav-item
							a.nav-link(href='/journals') Journals
						li.nav-item
							.navSearch
								input.searchTerm(type='text', placeholder='Search All Journals')
								button.searchButton(type='submit')
									i.fa.fa-search
							a.nav-link(href='/search') Advanced Search
						li.nav-item
							a.nav-link(href='signin') Sign Out
			//display Journal Name here instead
			br
			h3.alignCenter #{journalID} 
			.createJournalButton
				form(method="GET", action="/entryeditor/" + journalID, id="create")
					button#addJournalButton + Create An Entry
			#overlay
			#popup
				.popupForm
					form(method="POST", action="/createJournals", id="create")
						x
						br
						input#journalName(type='text', name='journalName', placeholder='Enter Journal Name')
						br
						.popupButtons
							button#createButton Create
							button#cancelButton Cancel

			//Search Bar
			.panel
				.heading.collapsible(data-toggle='collapse', href='#collapse1')
					|Search Entries  
					i.fa.fa-arrow-right
				#collapse1.panel-collapse.collapse
					.body.alignCenter
						.wrap
							.advSearch
								input#myInput.searchTerm(type='text', placeholder='Keywords')
								button.searchButton(type='submit')
									i.fa.fa-search
						br
						br
						
						|Search Date Between
						br
						label(for='begin') From:  
						input#beginDf(type='date' name='date' max='2000-13-13')
						label(for='end') To:  
						input#endDf(type='date' name='date' min='2000-13-13' max='2000-13-13')
						br
						.addPaddingToChildren
							input#showHidden(type='checkbox')
							label(for='showHidden') Show Hidden
							input#showArchived(type='checkbox')
							label(for='showArchived') Show Archived
							input#showVisible(type='checkbox', checked)
							label(for='showVisible') Show Visible
							br
							button.btn.btn-primary#applyBtn(type='button') Apply

			//Entry Table
			.panel
				.heading
					| Entries
				.body
					table(style="width:100%")
						tr
							th Journal Entry Name
							th Date Created
							th History
							th Hide
							th Delete
						- for (var i = entries.length - 1; i >= 0; i--) {
						form(method="GET", action='/entrychanger/' + journalId + '/' + entries[i]._id, id='' + i)
						tr
							td(onclick='document.getElementById("' + i + '").submit();', style="cursor:pointer")
								!= entries[i]._id
							td #{entries[i].timestamp}
							td 
								img(src="/images/historyIcon.png", style="width:25px;height:25px;", onclick="alert('Go to history of entry')")
							td
								img(src="/images/hideIcon.png", style="width:25px;height:25px;", onclick="alert('Hide entry')")
							td  											
								img(src="/images/trashIcon.png", style="width:25px;height:25px;", onclick="alert('Delete entry')")
						- }


	script.
		//Get todays date
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth()+1; //January is 0!
		var yyyy = today.getFullYear();
		if(dd<10){
			dd='0'+dd
		} 
		if(mm<10){
			mm='0'+mm
		}
		today = yyyy+'-'+mm+'-'+dd;

		var beginDf = document.getElementById("beginDf");
		var endDf = document.getElementById("endDf");

		//Set the max date to todays date
		beginDf.setAttribute("max", today);
		endDf.setAttribute("max", today);

		//When the begin date is set, put a constraint on the end date
		beginDf.onchange = function(){
			endDf.setAttribute("min", beginDf.value);
			//If the user has set the begin date to a date that is after the end date
			//Then set the end date to the begin date, to prevent any errors
			//Also check if beginDate has been cleared
			var beginDate = beginDf.value;
			if (beginDate > endDf.value || !beginDate){
				endDf.value = beginDate;
			}
		};