extends template

block content
	.container-fluid
		header
			
			.container
				h1 Professional Journal
				ul.nav.nav-tabs.nav-fill
					li.nav-item
						a.nav-link(href='journals') Journals #{user.colour_choice}
					li.nav-item
						.navSearch
							input.searchTerm(type='text', placeholder='Search All Journals')
							button.searchButton(type='submit')
								i.fa.fa-search
						a.nav-link.active(href='search') Advanced Search
					li.nav-item
						a.nav-link(href='signin') Sign Out

		.panel
			.heading Search All Journals
			.body.alignCenter
				
				.wrap
					.advSearch
						input#myInput.searchTerm(type='text', placeholder='Keywords')
						button.searchButton(type='submit')
							i.fa.fa-search
				br
				br
				
				|Search Date Between
				br
				label(for='begin') From:  
				input#beginDf(type='date' name='date' max='2000-13-13')
				label(for='end') To:  
				input#endDf(type='date' name='date' min='2000-13-13' max='2000-13-13')
				br
				.addPaddingToChildren
					input#showHidden(type='checkbox')
					label(for='showHidden') Show Hidden
					input#showArchived(type='checkbox')
					label(for='showArchived') Show Archived
					input#showVisible(type='checkbox', checked)
					label(for='showVisible') Show Visible
					br
					button.btn.btn-primary#applyBtn(type='button') Apply


				.createSearchButton

					ul(id="myUL")
						li
							a Journal 1
						li
							a Journal 2
						li
							a Journal 3
						li
							a Journal 4
						li
							a Journal 5
						li
							a Journal 6
						li
							a Journal 7
						li
							a Journal 8
						li
							a Journal 9
						li
							a Journal 10
						li
							a Journal 11
						li
							a Journal 12

	script.
		document.getElementById("myInput").onkeyup = function () {
			var input, filter, ul, li, a, i;
			input = document.getElementById("myInput");
			filter = input.value.toUpperCase();
			ul = document.getElementById("myUL");
			li = ul.getElementsByTagName("li");
				for (i = 0; i < li.length; i++) {
					a = li[i].getElementsByTagName("a")[0];
					if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
						li[i].style.display = "";
					} else {
						li[i].style.display = "none";
					}
				}
			};

			//Get todays date
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!
			var yyyy = today.getFullYear();
			if(dd<10){
				dd='0'+dd
			} 
			if(mm<10){
				mm='0'+mm
			}
			today = yyyy+'-'+mm+'-'+dd;

			var beginDf = document.getElementById("beginDf");
			var endDf = document.getElementById("endDf");

			//Set the max date to todays date
			beginDf.setAttribute("max", today);
			endDf.setAttribute("max", today);

			//When the begin date is set, put a constraint on the end date
			beginDf.onchange = function(){
				endDf.setAttribute("min", beginDf.value);
				//If the user has set the begin date to a date that is after the end date
				//Then set the end date to the begin date, to prevent any errors
				//Also check if beginDate has been cleared
				var beginDate = beginDf.value;
				if (beginDate > endDf.value || !beginDate){
					endDf.value = beginDate;
				}
			};
	script.
		var colour = '#' + #{usercolor}
		$(document).ready(function(){
			$("h1").css("color", "#{user.colour_choice}");
		});
				
			